<!--
  Standalone launcher for running a default Kobuki
 -->
<launch>
  <arg name="kobuki_publish_tf" default="true"/> <!-- Publish base_footprint - odom transforms (usually good thing to have for localisation) -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher3" args="0 0 0.3 0 0 0 1 base_footprint laser 10"/>

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher4" args="0 0 0.3 0 0 0 1 base_footprint gyro_link 100"/>

  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="mobile_base" args="load kobuki_node/KobukiNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/>
    <param name="publish_tf" value="$(arg kobuki_publish_tf)"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/joint_states" to="joint_states"/>
  </node>
  
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_node)/param/diagnostics.yaml" />
  </node>

	<!--node name="joy" pkg="joy" type="joy_node" output="screen">
		<param name="dev" type="string" value="/dev/input/js0"/>
	</node-->

	<!--node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node" output="screen">
		<remap from="cmd_vel" to="mobile_base/commands/velocity"/>
	</node-->

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/rplidar"/>
		<param name="serial_baudrate"     type="int"    value="115200"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node name="fibonacci" pkg="mxnet_actionlib" type="auto_docking_server" output="screen"/>

	<include file="/home/mark/ros_ws/src/turtlebot_apps/turtlebot_navigation/launch/amcl_demo.launch">
		<arg name="map_file" value="/home/mark/Cartographer_Full_Downstairs_277777062018_UpdatedCode.map.yaml"/>
	</include>

</launch>
